
/* MY INFO OVERLAY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.overlayBg {
  background: rgba(0, 47, 77, .25);
  -webkit-transition: all 3s;
          transition: all 3s;
}

.infoOverlay {
  display: flex;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
  background: rgba(0, 47, 77, .25);
  position: fixed;
  width: 100%;
  -webkit-transition: all 3s;
          transition: all 3s;
}

.openOverlay {
  opacity: 1;
  padding: 0;
  z-index: 200;
  height: 100%;
}


.aboutMe,
.skills {
  padding: 80px 40px;
  width: 50%;
}

.aboutMe {
  background: firebrick;
}
.skills {
  background: orange;
}


.myPhoto {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 100%;
}


