/* SECTION STYLES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pOne {
  background: #02C39A url("../images/8.jpg") no-repeat center/cover;
}

.pTwo {
  background: #02C39A url("../images/5.jpg") no-repeat center/cover;
}

.pThree {
  background: #02C39A url("../images/18.jpg") no-repeat center/cover;
}

.pFour {
  background: #02C39A url("../images/19.jpg") no-repeat center/cover;
}


.projectTitle {
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.projectBtn {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

